.contain{
display: flex;
margin-left: 50px;
border-color: 2px solid black;
}
.content{
  display: flex;
  align-items: center;
  margin-left: 30px;
}


img{
  margin-top: 10px ;
}
.con{
  margin-top: 70px;
  margin-left: 70px;
}

.logo{
  width: 180px;
  height: 100px;
}

.small-con{
  margin-left: 450px;
  width: 400px;
  height: 400px;

}
img{
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
h2, .btn{
  display: flex;
  justify-content: center;

}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px;
font-size: 20px;
border-radius: 8px;
  cursor: pointer;
}